.thumbnail {
  width:100%;
  height:100%;
  object-fit:cover;
}
body{
  font-family:
    "Hiragino Sans",
    "Noto Sans JP",
    "Yu Gothic UI",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}
.card-text {
  font-size:0.8rem;
  color:#6c757d;

  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
}
.thumbnail-wrapper{
  position:relative;
}
.video-time {
  position:absolute;
  right:6px;
  bottom:6px;
  background:rgba(0,0,0,0.8);
  color:white;
  font-size:0.75rem;
  padding:2px 6px;
  border-radius:3px;
}

.card-body {
  padding: 0.5rem;
}

.card-title {
  font-size: 0.9rem;
}

.card-text {
  font-size: 0.8rem;
}

html, body {
  height: 100%;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-link{
  text-decoration:none;
  color:inherit;
}

.card:hover .card-title{
  color: rgb(25,124,225);
}